* {
  font-family: 'Inconsolata', monospace;
  scroll-behavior: smooth;
  /* background-color: #2F3E46; */
}

h2, h3, h6, p, span  {
  color: #5A5E58;
}

span, span:hover {
  background-color: #d7a764;
}

a { 
  color: #5A5E58 !important;
}

nav ul a:hover {
  background-color: #CAD2C5;
}


/* BUTTONS SECTION */

.logout-button {
  border: none;
  background-color: #CAD2C5;
  color: #5A5E58;
  cursor: pointer;
  float: right;
  margin-top: 18px;
  padding: 0 15px;
  cursor: pointer;
}

.logout-button:hover, .logout-button:active {
  background-color: #CAD2C5;
}

.like_button {
  color: #d7a764;
  cursor: pointer;
}

.dislike_button {
  cursor: pointer;
}

.comment_delete {
  cursor: pointer;
  float: right;
  align-items: center;
}

.delete_button {
  float: right;
  margin-right: 15px;
  cursor: pointer;
}

.button_container {
  text-align: center;
  margin-bottom: 18px;
}

.signup_button {
  background-color: #335C67;
  font-family: 'Inconsolata', monospace;
}

.signup_button:hover{
  background-color: #d7a764 !important;
}

.signup_button i{
  background-color: #335C67;
}

.select_img_button, span {
  background-color: #335C67;
  color: #FFFF;
}

.select_img_button:hover, span:hover {
  background-color: #335C67;
}

/* PAGE LAYOUT */

.signup_heading {
  text-align: center;
}


.signup_container, .login_container, .createpost_container {
  display: grid;
  align-items: center;
  margin-top: 1rem;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  background-color: #CAD2C5;
}

.home {
  display: flex;
  flex-wrap: wrap-reverse;
  max-width: 500px;
  margin: 0 auto;
}

.home-card {
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
  background-color: #CAD2C5;
}

.login_container, .signup_container, .createpost_container {
  max-width: 500px;
  margin: 26px auto;
}

.brand-logo {
  background-color: #CAD2C5;
  margin-left: 10px;
}

.nav-wrapper {
  background-color: #CAD2C5;
}

.post-username {
  margin-left: 10px;
}

.profile-page-container {
  max-width: 550px;
  margin: 0 auto;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding-left: 5px;
}

.profile-container {
  display: flex;
  justify-content: space-evenly;
  margin: 18px 0;
  border-bottom: 1px solid lightgray;
}

.profile-stats {
  display: flex;
  justify-content: space-evenly;
  width: 105%;
}

.gallery {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
}

.gallery-item {
  width: 40%;
  height: 30%;
  margin-bottom: 20px;
}



/* NOTIFICATION SECTION */
#toast-container {
  top: 30px;
  right: 20px;
  left: auto;
}

/* INPUT SECTION */

.validate {
  background-color: #26363C;
}

.input-field label {
  color: #858370;
}


.comment-input {
  width: 20px;
}

.comment-input-wrapper {
  display: flex;
  align-items: center;
}


.comment-input-wrapper input[type=text]:focus {
  border-bottom: 1px solid #E09732 !important;
  box-shadow: 0 1px 0 0 #E09732 !important;
  color: #26363C;
}

.input-field .comment-input input[type=text] {
  color: red;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #E09732 !important;
  box-shadow: 0 1px 0 0 #E09732 !important;
}

.input-field input[type=text]:focus + label {
  color: #E09732 !important;
}

.input-field .prefix.active {
  color: #E09732 !important;
}
.input-field input[type=email]:focus + label {
  color: #E09732 !important;
}

.input-field input[type=password]:focus + label {
  color: #E09732 !important;
}

.input-field input[type=email], [type=password]:focus {
  border-bottom: 1px solid #858370 !important;
  box-shadow: 0 1px 0 0 #858370 !important;
}

