* {
  font-family: 'Inconsolata', monospace;
}

a { 
  color: black !important;
}

.logout-button {
  border: none;
  background-color: white;
  cursor: pointer;
  float: right;
  margin-top: 18px;
  padding: 0 15px;
  cursor: pointer;
}

.logout-button:hover, .logout-button:active {
  background-color: white;
}

.signup_heading {
  text-align: center;
}

.signup_container, .login_container {
  display: grid;
  align-items: center;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
}

.button_container {
  text-align: center;
}

.signup_button {
  background-color: #b2b89c;
}


#toast-container {
  top: 30px;
  right: 20px;
  left: auto;
}